
main {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: calc(100vh - 140px);
}

figure {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

figure.icon > img {
    width: 100%;
}

figcaption {
    text-align: center;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    max-width: 1204px;
}

.technologies section {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 517px;
    width: 43%;
    min-width: 387px;
    margin: 50px 30px;
    background-color: #57bc9050;
    border: solid 2px #57bc90;
    padding: 20px;
    border-radius: 10px;
}

.technologies section img{
    max-width: 200px;
    min-width: 0;
    margin-right: 20px;
}

.technologies section div {
    width: 230px;
    flex-shrink: 0;
}


h1 {
    margin-top: 0;
    font-size: 250%;
}





@media only screen and (max-width: 612px) {
    .technologies section {
        flex-wrap: wrap;
        min-width: 270px;
        justify-content: space-around;
    }

    .technologies section {
        margin: 50px 10px;
    }
}  

@media only screen and (min-width: 612px) {
    .technologies section {
        flex-wrap: nowrap;
    }
}
