nav{
    padding: 10px 40px;
    margin: 0;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    padding: 0 10px;
    background-color: lightcyan;
    border-radius: 5px;
}

.logo:hover {
    cursor: pointer;
}

/* //////////////////////////////////////////////// */
/* TOP RIGHT BUTTONS */

nav>ul {
    float: right;
    margin: 0;
    vertical-align:middle;
}

nav li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #57BC90;
    background-color: #015249;
}

nav a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}

.smallscreen {
    width: 200px;
    display: none;
    position: absolute;
    top: 60px;
    right: 5px;
    margin: 0;
    padding: 0;
}

.js-is-hidden {
    display: none;
  }

.smallscreen .navButtons {
    margin: 5px 0;
}

@media only screen and (max-width: 945px) {
    
    nav {
        padding: 1.06% 4.23%;
        height: 7.4vw;    
    }

    .logo {
        height: 5.3vw;
        width: 17.2vw;
    }

    .widescreen .navButtons:not(.hamburgerMenu) {
        display: none;
    }

    nav li {
        width: 15.9vw;
    }

    nav a {
        padding: 0.53vw;
    }

    .hamburgerMenu>a {
        font-size: 2.2vw;
    }
    
    #hero {
        margin-top: 7.4vw !important;
    }

}  

@media only screen and (min-width: 945px) {
    .hamburgerMenu {
        display: none;
    }

}  


/* nav li:hover {
    background-color: #015249;
    color: #77C9D4;
} */


/* //////////////////////////////////////////////// */
/* BREADCRUMPS */

.breadcrumb {
    padding: 20px 20px;
    margin: 0;
    width: 100%;
}

.breadcrumb > li {
    display: inline;
}
  
.breadcrumb li+li::before {
    padding: 10px;
    content: ">"
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a:hover {
    color: red;
}



/* //////////////////////////////////////////////// */
/* FOOTER */

footer {
    /* height: 20px; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
}

footer p {
    width: 80vw;
}