main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    background: white !important;
}

main>div {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}

main>div>div {
    padding: 5px;
}

/* div {
    border: 1px solid black;
} */

h2 {
    border-bottom: black 1px solid;
}


/* 
  _                                           _           
 | |_ _   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _ 
 | __| | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
 | |_| |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |
  \__|\__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, |
      |___/|_|          |___/          |_|          |___/ 
TYPOGRAPHY*/

div.typography {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
}

div.typography>h1 {
    width: 100%;
}

div.typography>div {
    width: 50%;
    padding: 5px;
}

/*################################*/
/*######## FONT FAMILIES*/

div.fontfamilies {
    display: flex;
    flex-wrap: wrap;
}

.fontfamilies>h2 {
    width: 100%;
}

.karla,
.caveat {
    display: flex;
    width: 100%;
    padding-bottom: 15%;
}

.karla .sample {
    font-family: Karla;
}

.caveat .sample {
    font-family: Caveat;
}

.fontfamilies div.sample>span {
    text-align: center;
}

.fontfamilies div.sample {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 50%;
}

.fontfamilies div.sample>span.sample {
    font-size: 110px;
    width: 100%;
}

.fontfamilies div.variants>div {
    width: 100%;
    display: flex;
    padding: 10px;
}

.fontfamilies div.variants>div>span.sample {
    font-size: 45px;
}

.fontfamilies div.variants>div>div {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
}

.fontfamilies div.variants>div>div>span {
    width: 100%;
}

/*################################*/
/*######## LINKS*/

.links a {
    display: block;
    margin: 20px;
}

.karla .w200 .sample {
    font-weight: 200;
}

.karla .w300 .sample {
    font-weight: 300;
}

.karla .w400 .sample {
    font-weight: 400;
}

.karla .w500 .sample {
    font-weight: 500;
}

.karla .w600 .sample {
    font-weight: 600;
}

.karla .w700 .sample {
    font-weight: 700;
}

.karla .w800 .sample {
    font-weight: 800;
}

.caveat .w400 .sample {
    font-weight: 400;
}

.caveat .w500 .sample {
    font-weight: 500;
}

.caveat .w600 .sample {
    font-weight: 600;
}

.caveat .w700 .sample {
    font-weight: 700;
}

/*################################*/
/*######## HEADERS*/

/* Arrange spacing between elements, except for the section "Headers" title */
.headers>*:not(h2:first-of-type) {
    display: block;
    padding: 3% auto;
    margin: 0;
}

.headers>span {
    padding-bottom: 9%;
}

.headers h2:nth-of-type(2) {
    border-bottom: none;
}

/* 
            _            
   ___ ___ | | ___  _ __ 
  / __/ _ \| |/ _ \| '__|
 | (_| (_) | | (_) | |   
  \___\___/|_|\___/|_|   
*/

div.color>div {
    display: flex;
    /* flex-wrap: wrap; */
}

div.color>div>div {
    padding: 5px;
}

div.color>h1 {
    width: 100%;
}

/*################################*/
/*######## PRIMARY & SEONDARY*/

div.primarySeconday>h2 {
    width: 100%;
}

div.primarySeconday>div {
    width: 100%;
    display: flex;
    padding: 3% 0;
    /* border: blue solid 1px; */
}

.primarySeconday div.sample {
    width: 40%;
    padding-bottom: 20%;
    border-radius: 10px 10px 10px 40px;
}

.primarySeconday>div>div:not(.sample) {
    /* border: red 1px solid; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 3px;
}

.primarySeconday span {
    width: 100%;
    padding: 3% 0;
}

/*################################*/
/*######## PRIMARY */
.B200 {background-color: #0084F8;}
.D400 {background-color: #001B36;}
.White {background-color: #FFFFFF;border: gray 1px solid;}

/*################################*/
/*######## SECONDARY*/
.B100 {background-color: #58C2F1;}
.R100 {background-color: #FF8576;}
.G100 {background-color: #47C2B1;}
.D100 {background-color: #F0F5F9;}
.D200 {background-color: #C9D6DF;}
.D300 {background-color: #52616B;}

/*################################*/
/*######## GRADIENTS & OPACITY*/

.gradientsOpacity>h2 {
    width: 100%;
}

.gradientsOpacity {
    display: flex;
    flex-wrap: wrap;
}

/*################################*/
/*######## GRADIENTS*/

.gradients {
    display: flex;
    width: 100%;
    margin: 5px 0;
    /* flex-grow: 1; */
}

.gradients .sample {
    min-width: 50%;
    padding-top: 5%;
}

.gradients.one .sample {
    background: linear-gradient(160deg, rgba(119,201,212,1) 0%, rgba(234,236,233,1) 49%, rgba(87,188,144,1) 100%);
}

.gradients.two .sample {
    background: linear-gradient(45deg, rgba(0,132,248,1) 0%, rgba(88,194,241,1) 100%);
}

.gradients.three .sample {
    background: linear-gradient(45deg, rgba(0,132,248,1) 0%, rgba(255,133,118,1) 100%);
}

.gradients .detail {
    flex-grow: 1;
}

.gradients .detail>div {
    display: flex;
    align-content: center;
}

.gradients span {
    display: inline-block;
    margin: auto 0.3rem;
}

.circle {
    /* border: red solid 1px; */
    /* display: inline-block; */
    width: 1rem;
    padding-top: 1rem;
    border-radius: 50%;
}

.detail>div>span:first-of-type{
    font-size: 2rem;
}


.gradients.one .circle.A {background-color: rgba(119,201,212,1);}
.gradients.one .circle.B {background-color: rgba(87,188,144,1);}
.gradients.two .circle.A {background-color: rgba(0,132,248,1);}
.gradients.two .circle.B {background-color: rgba(88,194,241,1);}
.gradients.three .circle.A {background-color: rgba(0,132,248,1);}
.gradients.three .circle.B {background-color: rgba(255,133,118,1);}

/*################################*/
/*######## OPACITY*/

.opacity.checker {
    width: 21%;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
}

.opacity.numbers {
    width: 10%;
}

/* .opacity.checker div {
    width: 45%;
    padding-top: 100%;
} */

.opacity.checker .dark {
    background-color: black;
}

/* .opacity.checker.one .mask {
    position: relative;
    top: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(0,132,248,1) 0%, rgba(255,133,118,0) 100%);
}

.opacity.checker.two {
    background-color: #0084F850;
}
.opacity.checker.one {
    background-color: #0084F850;
} */

.opacity.checker>div:nth-child(1) {grid-area: 1/1/2/2;}
.opacity.checker>div:nth-child(2) {grid-area: 1/2/2/3;}
.opacity.checker>div:nth-child(3) {grid-area: 2/1/3/2;}
.opacity.checker>div:nth-child(4) {grid-area: 2/2/3/3;}
.opacity.checker>div:nth-child(5) {grid-area: 3/1/4/2;}
.opacity.checker>div:nth-child(6) {grid-area: 3/2/4/4;}
.opacity.checker>div:nth-child(7) {grid-area: 4/1/5/2;}
.opacity.checker>div:nth-child(8) {grid-area: 4/2/5/5;}

.opacity.checker.one .transpMask {
    grid-area: 1/1/5/5;
    background: linear-gradient(180deg, rgba(0,132,248,1) 0%, rgba(255,133,118,0) 100%);
}

.opacity.checker.two .transpMask {
    grid-area: 1/1/5/5;
    background: linear-gradient(180deg, black 0%, rgba(255,133,118,0) 100%);
}

.opacity.checker.three .transpMask {
    grid-area: 1/1/5/5;
    background: linear-gradient(180deg, #FF8576 0%, rgba(255,133,118,0) 100%);
}

/*################################*/
/*######## TINTS & SHADE*/

.tints>*,
.shades>* {
    width: 100%;
}

.shades,
.tints {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.tints .circle,
.shades .circle {
    display: inline-block;
    margin-right: 2%;
}

.tints>div,
.shades>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.palette {
    display: flex;
    width: 100%;
    /* border: red 2px solid; */
}

.palette div{
    flex-grow: 1;
    /* width: 100%; */
}

.palette .shade {
    padding: 0;
    margin: 0;
}

.palette .veil {
    margin: 0;
    padding-top: 50%;
}

.blue .circle,
.blue .palette .shade{
    background-color: #0084F8;
}

.red .circle,
.red .palette .shade{
    background-color: #FF8576;
}

.green .circle,
.green .palette .shade{
    background-color: #47C2B1;
}

.black .circle,
.black .palette .shade{
    background-color: black;
}

/*################################*/
/*######## TINTS*/
.tints .palette .tint1.veil {background-color: rgb(255, 255, 255, 0.1);}
.tints .palette .tint2.veil {background-color: rgb(255, 255, 255, 0.16);}
.tints .palette .tint3.veil {background-color: rgb(255, 255, 255, 0.22);}
.tints .palette .tint4.veil {background-color: rgb(255, 255, 255, 0.28);}
.tints .palette .tint5.veil {background-color: rgb(255, 255, 255, 0.34);}
.tints .palette .tint6.veil {background-color: rgb(255, 255, 255, 0.40);}
.tints .palette .tint7.veil {background-color: rgb(255, 255, 255, 0.46);}
.tints .palette .tint8.veil {background-color: rgb(255, 255, 255, 0.52);}
.tints .palette .tint9.veil {background-color: rgb(255, 255, 255, 0.58);}
.tints .palette .tint10.veil {background-color: rgb(255, 255, 255, 0.64);}
.tints .palette .tint10.veil {background-color: rgb(255, 255, 255, 0.70);}


/*################################*/
/*######## SHADES*/
.shades .palette .tint1.veil {background-color: rgb(0, 0, 0, 0.1);}
.shades .palette .tint2.veil {background-color: rgb(0, 0, 0, 0.16);}
.shades .palette .tint3.veil {background-color: rgb(0, 0, 0, 0.22);}
.shades .palette .tint4.veil {background-color: rgb(0, 0, 0, 0.28);}
.shades .palette .tint5.veil {background-color: rgb(0, 0, 0, 0.34);}
.shades .palette .tint6.veil {background-color: rgb(0, 0, 0, 0.40);}
.shades .palette .tint7.veil {background-color: rgb(0, 0, 0, 0.46);}
.shades .palette .tint8.veil {background-color: rgb(0, 0, 0, 0.52);}
.shades .palette .tint9.veil {background-color: rgb(0, 0, 0, 0.58);}
.shades .palette .tint10.veil {background-color: rgb(0, 0, 0, 0.64);}
.shades .palette .tint10.veil {background-color: rgb(0, 0, 0, 0.70);}

/* 
     _                      
  __| |_  __ _ _ __  ___ ___
 (_-< ' \/ _` | '_ \/ -_|_-<
 /__/_||_\__,_| .__/\___/__/
              |_|           
SHAPES*/

.shapesPatterns div.sample {
    min-width: 40%;
    padding-bottom: 25%;
}

.shapesPatterns>div {
    display: flex;
    margin: 5% 0;
}

.shapesPatterns>div>div {
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.shapesPatterns span {
    width: 100%;
}

/*################################*/
/*######## BORDER*/

.shapesPatterns .hard .sample {
    border: 2px solid #C9D6DF;
}

.shapesPatterns .soft .sample {
    border: 2px solid #C9D6DF;
    border-radius: 10px;
}

.shapesPatterns .round .sample {
    border: 2px solid #C9D6DF;
    border-radius: 50%;
}

/*################################*/
/*######## STYLE*/

.shapesPatterns .default .sample {
    border: 2px solid #C9D6DF;
}

.shapesPatterns .active .sample {
    border: 2px solid #0084F8;
}

.shapesPatterns .success .sample {
    border: 2px solid #47C2B1;
}

.shapesPatterns .error .sample {
    border: 2px solid #FF8576;
}

/*
             _   _                   
  _ __  __ _| |_| |_ ___ _ _ _ _  ___
 | '_ \/ _` |  _|  _/ -_) '_| ' \(_-<
 | .__/\__,_|\__|\__\___|_| |_||_/__/
 |_|                                                                                    
 PATTERNS*/

 .pattern {
    width: 100%;
    padding-top: 50%;
    background-image: url(../media/pattern.jpg);
    background-size: cover;
 }